body
{
    font-family: helvetica;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: #783230;
    z-index: -1;
    margin: auto;
}



/* -------------------- nav style -------------------- */


nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}


nav a
{
   
   align-self: center;
   margin: 10px;
   margin-left: 5px;
   color: white;
   text-decoration: none;
   text-transform: lowercase;
   font-weight: lighter;
}

nav a:hover 
{
    color: #ef6461;
}

.logout
{
   align-self: center;
   margin: 10px;
   margin-left: 5px;
   color: white;
   text-decoration: none;
   text-transform: uppercase;
}

.config
{
    margin: 0px;
}

.color
{
    color: #f3a712;
    margin: 0px;
}



.info-user
{
    display: inline;
    display: flex;
}

.username
{
    text-transform: lowercase;
    color: #f3a712;
    margin: 0px;
    align-self: center;
}

.picture-profile
{
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    object-fit: cover;
    margin: 4px;
}






#modal-view-menu
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width:100vw;

    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#modal-view-menu.hidden
{
    display: none;
}

.div_link
{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_menu
{
    color: #f8f8f8;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
}



#menu
{
    display: none;
}

#menu div 
{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

@media (max-width: 500px)
{
    nav a
    {
        display: none;
    }

    #logo
    {
        font-size: .5em ;
        margin-left: 3px;
    }

    #menu 
    {
        display: block;
        margin-right: 5px;
    }
    .picture-profile
    {
        display: none;
    }
}

.hidden
{
    display: none;
}

.close_modale
{
    width: 20px;
    height: 20px;
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}




/* -------------------- main style -------------------- */


main
{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: auto;
    width: 60vw;
    height: 80vh;
    align-self: center;
    margin-top: 50px;
    background-color:#eae3e3;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 20px;
}


.intro
{
    display: flex;
    justify-content: space-between;
    height: 40%;
    width: 100%;

    
}


form
{
    align-self: flex-start;
    width: 90%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}


.hidden
{
    display: none;
}

.circle
{
    
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 60px;
    object-fit: cover;
}

.descrizione
{
    /*width: 100%;
    height: 60%;
    border-radius: 20px;
    border: none;*/

    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

label
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.button_submit
{
    width: 30%;
    background-color: #ef6461;
    border: 0px;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    margin-top: 10px;
    color: #f8f8f8;    
}

.button_submit:hover
{
    color: black
}

input #file-upload-button::before
{
    width: 300px;
}

footer
{
    display: flex;
    background-color: #335c67;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding: 75px;
}

footer h1 
{
    font-size: 1em;
    
}

@media (max-width:500px) 
{
    footer p 
    {
        font-size: .9em;
    }
}






/* -------------------- MEDIA SCREEN --------------------- */

@media (max-width:500px) 
{
    main h1
    {
        font-size: 1.1em;
    }

    main p
    {
        text-align: center;
    }


    label
    {
        text-align: center;
        width: 100%;
    }

    #input_picture
    {
        align-self: center;
        width: 80%;
    }

    .intro
    {
        flex-direction: column;
        align-items: center;
    }

    .circle
    {
        margin-right: 0px;
        margin-bottom: 5px;
        height: 150px;
        width: 150px;
    }
    
}